<mat-card>
    <div mat-subheader><h1>Category</h1></div>
    <mat-grid-list cols="3" rowHeight="2:1">
    
    <mat-grid-tile *ngFor="let c of category" ><mat-card  class="example-card mr5">
    
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{c.title}}</mat-card-title>
          <mat-card-subtitle>category</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
          <p>
            {{c.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="mr5" mat-raised-button color="primary">Update</button>
          <button  (click)="deleteCategory(c.cid)" class="mr5" mat-raised-button color="warn">Delete</button>
        </mat-card-actions>
    
      </mat-card></mat-grid-tile>
    
    
  </mat-grid-list>
  <div class="container center mrb3">
    <button mat-raised-button routerLink="/admin/add-category" color="primary">Add</button>
    </div>
</mat-card>